<script type="text/javascript" src="assets/js/lib.min.js"></script>
<script type="text/javascript" src="assets/js/framework.min.js"></script>
<script type="text/javascript" src="assets/js/components.js"></script>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Crimson+Text:400,600,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>