<header class="cf fixed">
		<a href="#" class="logo">Rhapsody Digital Media</a>
			<div class="nav-bg">
				<ul class="nav">
					<li><a class="nav-link" href="#one">Case Studies</a></li>
					<li><a class="nav-link" href="#two">Our Services</a></li>
					<li><a class="nav-link" href="#three">Our Software</a></li>
					<li><a class="nav-link" href="#four">About Us</a></li>
					<li><a class="nav-link" href="#five">Our Buzz</a></li>
					<li><a class="nav-link" href="#six">Contact Us</a></li>
				</ul>
			</div>
		<a class="nav-btn">
		  <span></span>
		  <span></span>
		  <span></span>
		  <span></span>
		</a>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
</div>