<header class="cf">
	<div class="row">
		<div class="pane base12">
			<div class="info left"><p>Cleave &amp; Company Ltd, No1 Buckingham Place, London SW1E 6HR</p></div>
			<div class="info right">
				<p>Telephone:</p>
				<a href="tel:+442070161499">+44 (0)20 7016 1499</a>
				<a href="mailto:mail@cleave.com">E: mail@cleave.com</a>
			</div>
			<a href="#" class="logo"><img src="./assets/img/structure/logo.png">Cleave Court Jewellers</a>
			<a class="nav-btn">
			  <span></span>
			  <span></span>
			  <span></span>
			  <span></span>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="pane base12">
			<nav>
				<ul>
					<li><a href="#">ABOUT CLEAVE</a></li>
					<li><a href="#">CRAFTMANSHIP</a></li>
					<li><a href="#">INSIGNIA</a></li>
					<li><a href="#">OBJETS D’ART</a></li>
					<li><a href="#">PENS</a></li>
					<li><a href="#">ANOTHER</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</nav>
		</div>
	<div>	
</header><!-- end header -->

<!-- FOR DEVELOPMENT ONLY -->
<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
</div>