
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

	    <a id="skipnav" tabindex="-1"></a>
	    <!-- <div class="row relative hero">
	    	<div class="carousel">
		    	<div class="slide slide1">
		    		<div class="wrapper-intro">
			    		<h1>BAUER EMPIRE MAGAZINE</h1>
			    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
			    		<a href="#" class="bttn vid-btn">Learn More</a>
			    	</div>
		    	</div>
		    	<div class="slide slide2">
		    		<div class="wrapper-intro">
			    		<h1>healthy food guide</h1>
			    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
			    		<a href="#" class="bttn vid-btn">Learn More</a>
			    	</div>
		    	</div>
		    	<div class="slide slide3">
		    		<div class="wrapper-intro">
			    		<h1>BAUER</h1>
			    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
			    		<a href="#" class="bttn vid-btn">Learn More</a>
			    	</div>
		    	</div>
		    	<div class="slide slide4">
		    		<div class="wrapper-intro">
			    		<h1>OUR SERVICES</h1>
			    		<p class="intro">Evel moluptat hicta verfercium est volor sus aut maximos nobitam, sitaestem num hicta verfercium est volor sus aut maximos nobitam, sitaestem num</p>
			    		<a href="#" class="bttn vid-btn">Learn More</a>
			    	</div>
		    	</div>
		    </div>
	    </div>

	    <div class="row center">
	    	<div class="pane base10">
	    		<h2>our mission OR CaSE Studies</h2>
	    		<p>Should you choose to accept it... Ditinul latemquiasit  rum ex estrum earcit aspiciis eicitio ea eventiu nditibusam, quia ellestrum et vendunt ute voluptaque ne nonsequodi inihili quatecabora poriatem sum, optae es et officat emoluptam, conseque conem quatias aut pa sum.</p>
	    	</div>
	    </div> -->
		<div class="push"></div>		
	</div><!-- .wrapper -->
	<footer>
		<div class="wrap">
			<img src="./assets/img/structure/logo_small.png">
			<div>
				<a href="#">Contact us</a>   |   <a href="#">Cookies and Privacy policy</a>   |   <a href="#">Terms and conditions</a>   |    <a href="#">Sitemap</a>
			</div>
  		<p class="">Cleave &amp; Company Ltd,  No1 Buckingham Place, London SW1E 6HR Telephone: <a href="tel:+442070161499">+44 (0)20 7016 1499</a></p>
  	</div>
	</footer>

	<!--(bake /templates/structure/footer.html)-->

  </body>
</html>