
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body>
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header.html)-->

	    <a id="skipnav" tabindex="-1"></a>

	    <div class="row">
	    	<div class="pane base8 tp12 ml12">
		    	<div class="carousel">
			    	<div class="slide">
			    		<img src="./assets/img/structure/slide1.jpg" alt="Cleave crest">
			    		<p>In 2008, Cleave’s association with the Royal Household was acknowledged by the grant of HM The Queen’s Warrant as “Manufacturers of Insignia” and in January 2009, by the further grant of HRH The Prince of Wales’s Warrant as “Medallists”.</p>
			    	</div>
			    	<div class="slide">
			    		<img src="./assets/img/structure/slide2.jpg" alt="Couple walking">
			    		<p>CLEAVE has a rich heritage, combining a unique past with modern style to develop highly sought-after works of art. Our jewellers, goldsmiths and silversmiths create beautiful objects in our workshops in Great Britain.</p>
			    	</div>
			    </div>
			  </div>

			  <div class="pane base4 tp10 ml11 tp-mgZero ">
			  	<p class="intro">CLEAVE IS A NAME of subtle magic. Counting Heads of State, Palace Offices, Governments, Civil and Military Institutions from more than 40 countries among its clients, alongside some of the most discerning individuals in the World.
   Cleave’s unique relationships with Governments and Institutions in the creation of Insignia, State Gifts and Objets d’Art bestow a global cachet on the brand. Cleave sets a new standard for exemplary design and superlative, uncompromising execution of bespoke handmade bejewelled works.</p>
			  </div>
	    </div>

	    <div class="row m-top">
	    	<div class="box"></div>
	    	<div class="box tp-mgZero">
	    		<img src="./assets/img/structure/box1.jpg" alt="Man with fire">
	    		<p>CLEAVE’S WORKSHOPS are a unique fusion of past and present. Traditional goldsmithing skills and a passion for excellence in every piece stand...<a href="#">Read more.</a></p>
	    	</div>
	    	<div class="box">
	    		<img src="./assets/img/structure/box2.jpg" alt="Medals">
	    		<p>CLEAVE ARE CREATORS of glorious State regalia. Cleave’s pioneering heritage and unrivalled experience in the modern day interpretation of national... <a href="#">Read more.</a></p>
	    	</div>
	    	<div class="box">
	    		<img src="./assets/img/structure/box3.jpg" alt="Cleave pens">
	    		<p>CLEAVE PENS MERGE the traditional skills of our master craftsmen, with state of the art technology to create not only reliable writing instruments.. <a href="#">Read more.</a></p>
	    	</div>
	    	<div class="links">
	    		<ul>
	    			<li>
	    				<a href="#">
	    					<img src="./assets/img/structure/logo_btn.png">
	    					<span>Download a brochure</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="#" data-toggle="modal" data-target="#videoModal">
	    					<img src="./assets/img/structure/logo_btn.png">
	    					<span>Britain is Great Video</span>
	    				</a>
	    			</li>
	    			<li>
	    				<a href="#">
	    					<img src="./assets/img/structure/logo_btn.png">
	    					<span>Contact us</span>
	    				</a>
	    			</li>
	    		</ul>
	    	</div>
	    </div>

		<div class="push"></div>		
	</div><!-- .wrapper -->
	<footer>
		<div class="wrap">
			<img src="./assets/img/structure/logo_small.png">
			<div>
				<a href="#">Contact us</a>   |   <a href="#">Cookies and Privacy policy</a>   |   <a href="#">Terms and conditions</a>   |    <a href="#">Sitemap</a>
			</div>
  		<p class="">Cleave &amp; Company Ltd,  No1 Buckingham Place, London SW1E 6HR Telephone: <a href="tel:+442070161499">+44 (0)20 7016 1499</a></p>
  	</div>
	</footer>

	<div class="modal fade" id="videoModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<iframe src="https://player.vimeo.com/video/9211288?color=008996" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--(bake /templates/structure/footer.html)-->

  </body>
</html>