@charset "CP850";

//colours
$white: #fff;
$black: #000;
$royalBlue: #041e41;
$turqouise: #008996;
$gold: #a69153;
$bodyBg: #7fc4ca;

* {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

html, body {
    height: 100%;
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

.bold {
    font-weight: bold
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

.actions {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

body {
  font-size: 100%;
  font-family: 'Crimson Text', serif;
  text-align: left;
  color: $black;
  letter-spacing: 0;

  // Needs latest Compass, add '@import "compass"' to your scss
  // Permalink - use to edit and share this gradient:
  // http://colorzilla.com/gradient-editor/#009ec3+0,ffffff+100
  background-color: $bodyBg; // Old browsers
  @include filter-gradient($bodyBg, #ffffff, horizontal); // IE6-8 fallback on horizontal gradient
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(left bottom,  $bodyBg 0%,#ffffff 100%));


  &.overflow-visible {
    overflow-x: visible!important;
  }
}

a {
  text-decoration: none;
  color: $turqouise;
  transition: all .4s ease;
}

a:hover,a:focus,a:active {
  text-decoration: none;
  color: $white;
}

a:focus,a:active {
  outline: none
}

a img {
  border: 0;
  transition: all .4s ease;
}

a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);  
}

img {
  border: none;
  max-width: 100%;
  display: block
}

strong {
  font-weight: 700; 
  font-style: normal;
}

em {
  font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 34px;
  line-height: 3.4rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 26px;
  line-height: 2.6rem;
  color: $black;
  padding: 0;
  margin: 20px 0;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 33px;
  line-height: 3.3rem;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 10px 0 10px
}

p {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  line-height: 1.4rem;
  color: $black;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none
}

ul li,ol li {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  padding: 0;
  list-style-type: none;
}

.bttn {
  padding: 9px 22px 9px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 17px;
  line-height: 1.7rem;  
  border: 2px solid $black;
  background: transparent;
  color: $black;
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: auto;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover, &:focus, &:active {
    background: $black;
    color: $white;
  }
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
  top: 0;
  left: 0;
  color: #fff;
  background: #01a7e3;
  font-size: 1.1em;
  display: block;
  padding: 0.4em;
  border: 0.1em solid #fff;
  white-space: nowrap;
  width: 14em;
  text-align: center;
  font-weight: bold
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

.fade-in {
  opacity: 1;
}

.wrapper header {
  min-height: 260px;
  width: 100%;
  background: $royalBlue;
  text-align: center;
  color: $turqouise;

  .pane { position: relative;}

  .info {
    position: absolute;
    top: 135px;
    width: 134px;

    * {
      display: block;
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 14px;
      line-height: 1.4rem;
    }

    p {
      color: inherit;
    }

    &.left {
      left: 0;
      text-align: left;
    }
    &.right {
      right: 0;
      text-align: right;
    }
  }

  .logo {
    display: inline-block;
    text-indent: -9999px;
  }

  &.menu-open {
  
    //BURGER MENU 
    .nav-btn span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    .nav-btn span:nth-child(2) {
      top: 15px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .nav-btn span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .nav-btn span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

nav {
  margin: 25px 0 0 0;
  li {
    display: inline-block;

    a {
      font-weight: 600;
      padding: 0 10px;
      text-transform: uppercase;   
    }
  }
}

// BURGER
.nav-btn {
  width: 42px;
  height: 37px;
  position: absolute;
  top: 35px;
  right: 35px;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: $white;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

.nav-btn span:nth-child(1) {
  top: 0px;
}

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 15px;
}

.nav-btn span:nth-child(4) {
  top: 30px;
}

.hero {
  min-height: 768px;
  margin-bottom: 40px;

  .slide {
    min-height: 768px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &.slide1 {
      background-image: url(/assets/img/components/hero_home1.jpg);
    }
    &.slide2 {
      background-image: url(/assets/img/components/hero_home2.jpg);
    }
    &.slide3 {
      background-image: url(/assets/img/components/hero_home3.jpg);
    }
    &.slide4 {
      background-image: url(/assets/img/components/hero_home4.jpg);
    }
  }
}


.center {
  text-align: center;
}

// .search-box::-webkit-input-placeholder {
//   color:    $black;
// }

// .search-box:-moz-placeholder {
//   color:    $black;
// }

// .search-box::-moz-placeholder {
//   color:    $black;
// }

// .search-box:-ms-input-placeholder {
//   color:    $black;
// }

.loader {
  background: url('/assets/img/structure/loader.gif') no-repeat center #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s all ease;
  opacity: 0;
  z-index: -1;
}

.loading .loader {
  opacity: 1;
  z-index: 1;
}


.wrapper>header:before,.wrapper>header:after {
    content: "";
    display: table
}

.wrapper>header:after {
    clear: both
}

.form-modal {
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  border-radius: 24px;
  top: 20%;
  width: 40%;
  background: rgba(50,50,50,0.75);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  right: 0;

  &.fade-in {
    opacity: 1;
    z-index: 10;
  }
}


@media all and (max-width: 1024px) {
  .hero, .hero .slide {
    min-height: 0;
  }
}

@media all and (max-width: 1023px) {

    .nav-btn { display: block; }
  }


@media all and (max-width: 767px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 320px) {

}
