@charset "CP850";

* {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

html, body {
    height: 100%;
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

.bold {
    font-weight: bold
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

.actions {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

body {
  font-size: 100%;
  font-family: 'Crimson Text', serif;
  text-align: left;
  color: $black;
  letter-spacing: 0;

  &.overflow-visible {
    overflow-x: visible!important;
  }
}

a {
  text-decoration: none;
  color: $turqouise;
  transition: color .4s ease;
}

a:hover,a:focus,a:active {
  text-decoration: none;
  color: $white;
}

a:focus,a:active {
  outline: none
}

a img {
  border: 0;
  transition: all .4s ease;
}

a:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);  
}

img {
  border: none;
  max-width: 100%;
  display: block
}

strong {
  font-weight: 700; 
  font-style: normal;
}

em {
  font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

h1 {
  font-size: 42px;
  font-size: 4.2rem;
  line-height: 34px;
  line-height: 3.4rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 26px;
  line-height: 2.6rem;
  color: $black;
  padding: 0;
  margin: 20px 0;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 33px;
  line-height: 3.3rem;
  padding: 0;
  margin: 0;
}

h4 {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 10px 0 10px
}

p {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
  line-height: 1.4rem;
  color: $black;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none
}

ul li,ol li {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  padding: 0;
  list-style-type: none;
}

.bttn {
  padding: 9px 22px 9px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 17px;
  line-height: 1.7rem;  
  border: 2px solid $black;
  background: transparent;
  color: $black;
  display: inline-block;
  cursor: pointer;
  outline: none;
  width: auto;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover, &:focus, &:active {
    background: $black;
    color: $white;
  }
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
  top: 0;
  left: 0;
  color: #fff;
  background: $turqouise;
  font-size: 1.1em;
  display: block;
  padding: 0.4em;
  border: 0.1em solid #fff;
  white-space: nowrap;
  width: 14em;
  text-align: center;
  font-weight: bold;
  z-index: 99;
  transition: none;
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

.fade-in {
  opacity: 1;
}

.wrapper header {
  min-height: 260px;
  width: 100%;
  margin: 0 0 15px 0;
  background: $royalBlue;
  text-align: center;
  color: $turqouise;

  .pane { position: relative;}

  .info {
    position: absolute;
    top: 135px;
    width: 134px;

    * {
      display: block;
      font-size: 11px;
      font-size: 1.1rem;
      line-height: 14px;
      line-height: 1.4rem;
    }

    p {
      color: inherit;
    }

    &.left {
      left: 0;
      text-align: left;
    }
    &.right {
      right: 0;
      text-align: right;
    }
  }

  .logo {
    display: inline-block;
    text-indent: -9999px;
  }
}

nav {
  margin: 25px 0 0 0;
  li {
    display: inline-block;

    a {
      font-weight: 600;
      padding: 0 10px;
      letter-spacing: 1px;
      letter-spacing: .1rem;
      text-transform: uppercase;   
    }
  }
}

// BURGER
.nav-btn {
  width: 38px;
  height: 57px;
  position: absolute;
  top: 35px;
  right: 0;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
  display: none;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $turqouise;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

.nav-btn span:nth-child(1) {
  top: 0px;
}

.nav-btn span:nth-child(2),
.nav-btn span:nth-child(3) {
  top: 15px;
}

.nav-btn span:nth-child(4) {
  top: 30px;
}

.nav-btn span.open,
.nav-btn span.closed {
  top: 40px;
  height: auto;
  color: $turqouise;
  display: block;
  background: none;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1.4px;
  letter-spacing: .14rem;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity .4s ease;
}

.nav-btn span.open {
  opacity: 0;
  letter-spacing: 0;
}

.carousel {
  //min-height: 400px;
  overflow: hidden;
  position: relative;
  height: 400px;

  .slide {
    //min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    p {
      font-size: 12px;
      font-size: 1.2rem;
      line-height: 13px;
      line-height: 1.3rem;
      font-style: italic;
      text-align: left;
      margin: 5px 0 0 0;
    }
  }
}

.intro {
  margin: 30px 0 0 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 22px;
  line-height: 2.2rem;
  color: $turqouise;
  text-align: left;
}


.box {
  width: 146px;  
  margin-left: 20px;
  text-align: left;

  p {
    margin: 10px 0 0 0;
  }
  a {
    font-style: italic;
    font-weight: bold;
  }
}

.links {
  width: 312px;
  min-height: 146px;
  position: relative;

  ul {
    position: absolute;
    bottom: 0;

    li { 
      text-align: left;
      margin-top: 8px;

      &:first-child {
        margin-top: 0; 
      }
    }

    a {
      display: block;
      font-size: 18px;
      font-size: 1.8rem;
      line-height: 22px;
      line-height: 2.2rem;
      font-style: italic;
      
    }
    img, span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.center {
  text-align: center;
}

.wrapper>header:before,.wrapper>header:after {
    content: "";
    display: table
}

.wrapper>header:after {
    clear: both
}


@media all and (max-width: 1023px) {
  html,
  body {
    height: auto;
    min-height: 100%;

    &.menu-open {
      position: fixed;
      width: 100%;

      .nav-bg {
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 998;
        transition: opacity .3s ease;
      }

      //BURGER MENU 
      .nav-btn span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      .nav-btn span:nth-child(2) {
        top: 15px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .nav-btn span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .nav-btn span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }

      .nav-btn span.closed {
        opacity: 0;
      }
      .nav-btn span.open {
        opacity: 1;
      }
    }
  }

  .wrapper header .logo {
    margin: 18px 0 0 0;
  }

  .info { display: none; }
  .nav-btn { display: block; }
  .nav-bg  {
    position: fixed; 
    top: 257px;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;    
    background-color: $royalBlue;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0);    
  }

  nav {
    display: table;
    width: 100%;
    height: 100%;
    margin: -257px 0 0 0;
    ul {
      display: table-cell;
      vertical-align: middle;

      li {
        display: block;
        font-size: 28px;
        font-size: 2.8rem;
        line-height: 56px;
        line-height: 5.6rem;
        margin-bottom: 15px;
      }
    }
  }

  .row {
    .box {
      width: 182px;

      &:empty { display: none; }
    }
    
    .links {
      width: 590px;
      margin: 20px 0 0 0;
      text-align: left;

      ul {
        position: static;
        li {
          display: inline-block;
          margin-left: 20px;

          &:first-child { margin-left: 0; }
        }
      }
    }
  }
}


@media all and (max-width: 767px) {
  .nav-bg {
    top: 0;
  }
  nav {
    margin: 0;
    ul {
      li {
        font-size: 20px;
        font-size: 2rem;
        line-height: 42px;
        line-height: 4.2rem;
        margin-bottom: 0;
      }
    }
  }
  .row {
    .box {
      width: 30.66%;
      margin-left: 4%;
    }

    .links {
      width: 100%;
    }
  }
}

@media all and (max-width: 540px) {
  .row {

    .links {
      width: 100%;
      ul {
        li { 
          display: block;
          margin-left: 0;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .wrapper header {
    min-height: 180px;
    margin: 0;

    .logo {
      width: 158px;
      margin: 28px 0 0 0;
    }
  }

  .carousel .slide p {
    background: $royalBlue;
    color: $white;
    margin: 0;
    padding: 15px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 14px;
    line-height: 1.4rem;
  }

  .intro {
    font-size: 19px;
    font-size: 1.9rem;
    line-height: 26px;
    line-height: 2.6rem;
  }

  .links ul {
    li {
      margin: 0;
    }

    a {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 48px;
      line-height: 4.8rem;
    }
  }

  .row {
    .box {
      display: none;
    }
  }

  footer {
    .wrap {
      padding: 18px 4% 0;

      img {
        left: 4%;
      }

      a, p {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 15px;
        line-height: 1.5rem;
      }
    }
  }

  .push {
    height: 60px;
  }
}

@media all and (max-width: 320px) {

}
